.main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    'taskbar taskbar'
    'bot     panel';
  grid-template-columns: 400px 6fr;
  grid-template-rows: auto 1fr;
  grid-gap: 48px 96px;
  padding: 96px;
}

.textEditor {
  background: #1e1e1e;
}

.runArrow {
  width: 30px;
  opacity: 0.8;
  cursor: pointer;
}

.monaco {
  padding-top: 86px;
}
