.bot {
  position: relative;
  grid-area: bot;
  display: flex;
  flex-direction: column;
}

.messageContent {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 6px;
  padding-top: 80px;
}

.textInputWrapper {
  composes: glassmorphism from './components/components.module.css';
  border-radius: 0 0 20px 20px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.textInput {
  background: rgb(230, 230, 230);
  margin: 12px 24px;
  border-radius: 20px;
  padding: 12px 18px;
  display: flex;
  align-items: center;
}

.textInputInside {
  width: 100%;
  display: block;
  max-height: 115px;
  overflow: auto;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
}

.genericMessage {
  padding: 12px;
  margin: 2px 24px;
  background: white;
  max-width: 60%;
  border-radius: 20px;
  white-space: pre-wrap;
}

.botMessage {
  composes: genericMessage;
  align-self: flex-start;
}

@media (prefers-color-scheme: dark) {
  .textInput {
    background: rgb(40, 40, 40);
  }

  .genericMessage {
    background: rgb(30, 30, 30);
    color: white;
  }
}

.userMessage {
  composes: genericMessage;
  align-self: flex-end;
  background: #048df0;
  color: white;
}

.date {
  padding-top: 12px;
  margin: 0 24px;
  font-weight: 500;
  color: #aaa;
}

.userDate {
  composes: date;
  align-self: flex-end;
}

.botDate {
  composes: date;
  align-self: flex-start;
}

.greyText {
  color: #999;
}

@media (prefers-color-scheme: dark) {
  .greyText {
    color: #666;
  }

  .date {
    color: #777;
  }
}

.imageMessage {
  width: 100%;
  display: block;
  border-radius: 20px;
}

.imageWrapperMessage {
  padding: 0px;
}

.composingMessage {
  composes: botMessage;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot:global {
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #444;
  margin: 3px 6px;
  animation: 1s linear 0s infinite alternate backgroundswitch;
}

/* prettier-ignore */
@keyframes :global(backgroundswitch) {
  0% { background: #444; }
  50 % { background: #444; }
  75 % { background: #555; }
  100% { background: #999; }
}

.firstDot {
  composes: dot;
  animation-delay: 0s;
}

.secondDot {
  composes: dot;
  animation-delay: 0.35s;
}

.thirdDot {
  composes: dot;
  animation-delay: 0.65s;
}
