.textEditor {
  background: #1e1e1e;
}

.consoleWrapper {
  composes: textEditor;
  display: flex;
  flex-direction: column;
}

.runArrow {
  width: 30px;
  opacity: 0.8;
  cursor: pointer;
}

.consoleSvg {
  composes: runArrow;
  width: 35px;
}

.monaco {
  padding-top: 86px;
}

.console {
  display: flex;
  flex-direction: column;
  color: #ddd;
  padding-top: 86px;
  overflow: scroll;
}

.stdout {
  line-height: 24px;
  white-space: pre;
  padding: 6px;
  border-bottom: 1px solid #333;
  font-weight: bold;
}

.stderr {
  composes: stdout;
  color: red;
}

.dateConsole {
  composes: stdout;
  color: #444;
}

.stdout:first-child {
  padding-top: 0;
}

.stdout:last-child {
  border-bottom: none;
}

.cardHeadersButtons {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
